#Generic logging for general monitoring
[logging]
center_log = log/center.log

[database_textlog]
#textlog logging settings
enabled = True
logfile = log/text.log

[database_hpfeeds]
#hpfeeds logging settings
enabled = True
host = hpfriends.honeycloud.net
port = 20000
ident = 96wzTQHn
secret = Ajgfx9GhgnPuhFey
channel = 6guard.attacks

[database_mongodb]
# MongDB logging settings
enabled = False
host = localhost
port = 27017
user = 
password =
database = 6guard
collection = attacks
